body{
    background-image: url("http://www.powerpointhintergrund.com/uploads/newsprint-texture-background-6.jpeg")
}

.navbar{
    border-radius: 5px;
}

.navbar .navbar-brand {
    color: black;
    font-family: "Raleway";
    font-size: 30px;
}

.navbar .navbar-brand:hover{
    color:grey;
}

.nav-tabs {
    border-bottom: none;
    margin-right: 5px;
    margin-top: 3px;
}


a{
    color:black;
    font-family: "Raleway";
    font-size: 20px;
}

a:hover{
    color:grey;
}