body{
    background-image: url("http://www.powerpointhintergrund.com/uploads/newsprint-texture-background-6.jpeg")
}

.navbar{
    border-radius: 5px;
}

.navbar .navbar-brand {
    color: black;
    font-family: "Raleway";
    font-size: 30px;
    margin-left: 15px;
}

.navbar .navbar-brand:hover{
    color:grey;
}

.nav-tabs {
    border-bottom: none;
    margin-right: 5px;
    margin-top: 3px;
}


a{
    color:black;
    font-family: "Raleway";
    font-size: 20px;
}

a:hover{
    color:grey;
}

.jumbotron{
    width:89%;
    margin-left: 70px;
    border-radius: 10px;
    height: 1300px;
}


.h1{
    margin-top: 5px;
    margin-left: 30px;

}

img{
    border: 10px white solid;
    float: left;
    margin:30px;
    border-radius: 5px; 
}

p {
    margin: 35px 15px 0px 15px;
}

.card{
    margin-top: 50px;
    margin-bottom: 300px;
}

